.container{
  position: relative;
}

.gallery{
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.gallery::-webkit-scrollbar{
  display: none;
}

.item{
  flex-shrink: 0;
  height: 200px;
  width: auto;

  background-color: #FFF;
  scroll-snap-align: center;
}

button {
  position: absolute;
  top: 50%;

  width: 3rem;
  height: 6rem;

  transform: translateY(-50%);

  border: none;

  color: white;
  background-color: #313131b8;
  border-radius: 3px;
}

.button--previous {
  left: .5rem;
  top: 30%;
  transform: rotate(180deg);
}

.button--next {
  right: .5rem;
}
